*{margin:0;padding:0;box-sizing: border-box;}
h1{
    background-color:red;
    color:#fff;
    text-align:center;
    width:500px;
    height:500px;
    font-style:italic;
    /* text-decoration:underline; */
    /* text-decoration:overline; */
    /* text-decoration:line-through;
    text-decoration:none; */
}
.nahid {
    text-align:right;
}
.largePara{
    text-align:justify;
}
.btn {
    background:#000;
    color:#fff;
    text-decoration:none;
    width:100px;
    height:60px;
    display:inline-block;
    text-align:center;
    line-height:60px;
    border-radius:15px;
}
.btn2{
    font-size:40px;
    background:yellow;
    color:#000;
    width:200px;
    height:80px;
    line-height:80px;
    text-align:center;
    display: inline-block;
    margin:50px;
    text-decoration:none;
    border-radius:15px;
}
div{
    width:200px;
    height:200px;
    background:green;
    /* margin-left:100px;
    margin-top:100px;
    margin-right:100px;
    margin-bottom:100px; */
    /* margin:100px; */
    /* margin:50px 100px 200px 800px; */
    /* margin:0 auto; */
    padding:15px;

}
body{
    background:url("2.jpg"),
    url("images.png");
    background-size:300px,500px;
    background-repeat: space;
    background-position:0px 500px,0px 0px;
}