*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
}


/* .gr{
    width:300px;
    height:300px;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
   border:3px solid #fff;
    border-radius: 50%;
    background:conic-gradient(#19AEFF 0deg, #19AEFF 20deg, #FF9900 20deg, #FF9900 40deg, #204A87 40deg, #204A87 70deg, #EF2929 70deg, #EF2929 110deg, #3465A4 110deg, #3465A4 120deg);
} */


/* Lets make some awesome button */

/* #btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    border:none;
box-sizing: none;
    font-size:32px;
   width: 250px;
   padding: 15px 0px;
   background:linear-gradient(-45deg,#f8ed4b, #f8bd0c);
   border-radius:35px;
   color: #fff;
   text-align: left;
}
#btn .icon{

    margin-left:20px;
  border:3px solid #fff;

  height:50px;
  width:50px;
  border-radius:50%;
  display: inline-block;
  text-align: center;
}
#btn .icon i{
    font-size:18px;
      
}
.text{
    margin-top:5px;
    display: inline-block;
    font-size:26px;
} */


/* Let's make another btn */
section{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
   background:linear-gradient(to right,#0B77DA, #B84CA2);
   display: inline-block;
   width:200px;
   height:60px;
   color:#fff;
   display:flex;
   align-items: center;
   padding:15px;
   border-radius:35px;
text-decoration: none;
   
}
.icon{
border:3px solid #fff;
border-radius:50%;
padding:5px;
}
.icon i{
    font-size:18px;
    height:30px;
    width:30px;
    text-align:center;
    line-height:30px;
    
    
}
.text{
    font-size:25px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left:10px;
}
