* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

// .container {
//     width: 100%;
//     background: tomato;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items:stretch;
// }

// .container div {

//     border: 1px solid #000;
//     padding: 20px;
//     flex-basis: 300px;

// }
// .flexone{
//     background:yellow;
//     flex:1;
// }
// .flextwo{
//     background:cyan;
//     flex:4;
// }
// .flexthree{
//     background:blue;
//     flex:1;
// }
// .flexfour{
//     background:green;
//     flex:4;
// }


